.slider {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.main-right-arrow{
  position: absolute;
  top: 35%;
  right: 32px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  color: #fff;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  color:#000;
}

.main-left-arrow {
  position: absolute;
  top: 35%;
  left: 32px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  color: #fff;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  color: #000;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease-in-out;
  position: relative;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.contents-main-title {
  font-size: 30px;
  margin-top:40px;
  margin: 40px auto 0 auto;
}
.contents-sub-title {
  font-size: 16px;
  margin: 0 0;
}
.main-items-info > h5 , h4 {
  vertical-align: middle;
  position: absolute;
  letter-spacing: 4px;
  font-variant-ligatures: none;
  line-height: 35px;
  text-transform: initial;
  color: #313131;
  font-weight: 200;
  font-style: normal;
  line-height: 20px;
  width:100%;
}

.main-title {
  color: #fff;
  font-size: 66px;
  vertical-align: baseline;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin: 0 0 0 0;
  line-height: 100px;
}

.main-image {
  position: relative;
  width:100%;
  max-width: 1920px;
}

.main-slider {
  position: relative;
  height: 80vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
}
.main-slider-detail {
  font-family: Futura,Futura,"Malgun Gothic",Dotum,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  border: 2px solid white;
  color: white;
  width: 116px;
  height: 12px;
  padding: 12px 20px;
}
.main-slider-detail:hover {
  background-color: #313131;
  border: 2px solid #313131;
}
.main-slide {
  opacity: 0;
  transition-duration: 1s ease-in-out;
  position: relative;
}
.main-slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.main-slider-info {
  position: absolute;
  vertical-align: middle;
  width: 100%;
  top:45%;
  height: 150px;
}
a {
  text-align: center;
}

#slider-txt {
  /* background-color: aqua; */
  height: 100px;
}
#slider-detail-btn {
  height: 100px;
  /* background-color: indigo; */
  text-align: center;
}