.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
  position: relative;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.contents-main-title {
  font-size: 30px;
  margin-top:40px;
  margin: 40px auto 0 auto;
}
.contents-sub-title {
  font-size: 16px;
  margin: 0 0;
}
.main-items-info > h5 , h4 {
  vertical-align: middle;
  position: absolute;
  letter-spacing: 4px;
  font-variant-ligatures: none;
  line-height: 35px;
  text-transform: initial;
  color: #313131;
  font-weight: 200;
  font-style: normal;
  line-height: 20px;
  width:100%;
}